.link_style{
    
    margin-top: 50px; 
    
    
        border-radius: 5%; 
        border-color: #12679b; 
        background-color: #12679b; 
        font-size: xx-large; 
        padding: 15px;
        color: white;
    
}
.link_style:hover{
   
        background-color: white; 
        color: #12679b;
    
  
}