
// Get_In_Touch_title
@import 'Title/title.scss';

// Cards
@import 'Cards/grid.scss';

.get_in_touch_section_margin
{
    margin-top: 50px; 
    margin-bottom: 50px; 
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}
