
.our_reviews_paragraph{

    margin-top: 20px;
    margin-bottom: 20px;

    h4{
        margin-bottom: 0px;
        color: white;
        span{
            color: yellow;
        }
        a{
            color: #12679b;
        }
    }
}