.general_sections_margin{

    display: block;
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.general_section_title_margin{
    margin-bottom: 50px;
    h2{
        margin-bottom: 0px;
        span{
            color: #12679b;
        }
    }
}

.general_hr_style_underline{
    margin-bottom: 0px; 
    margin-right: 0px;
    .general_hr_style_underline_left{

        width: 50px; 
        display: inline-block; 
        border-top: 4px solid #eee;
    }
    .general_hr_style_underline_right{
          
        width: 50px; 
        display: inline-block; 
        border-top: 4px solid #12679b;
    }
}
