
.title{
     
    h2{
        margin-bottom: 0px;
        span{
            color: #12679b;
        }
    }
   
}

.underline_1{
            
    border-top: 4px solid #eee;
    width: 50px; 
display: inline-block; 
margin-right: 0px;
}
.underline_2{

border-top: 4px solid #12679b;
width: 50px; 
display: inline-block; 
margin-right: 0px;

}