
.grid_paragraph_style_outer{
    margin-top: 0px;
    display: inline-block; 
    padding: 15px;
    padding-right: 30px; 
}

.grid_paragraph_style_inner{
    display: block;
    p{
        color: black; 
    }
   
}