
.footer_style{
    display: inline-block;
    h4{
        display: inline-block; 
        margin-left: 0px; 
        color: white;
        .icon{
            display: inline-block; 
            color: tomato; 
            font-size: 150%; 
            margin-bottom: 0px;
        }
    }
}