
.cities_we_serve_card{
    
    hr{
        border-top: 1px solid white; 
        width: 100%; 
        display: inline-block; 
        margin-left: 0px;
    }

    .cities_we_serve_title{
            margin-bottom: 0px; 
            color: white;
    }
    
    .cities_we_serve_ul{
        list-style-type: none;
        li {
            float: left;
            .cities_we_serve_items{
    
                display: inline-block; 
                margin-left: 20px;
                a{
                    color: white;
                }
            
            
            }
            
            .cities_we_serve_items:hover{
            
                a{
                    color: black;
                }
            }
          }
    }

}

