
.cities_we_serve_title{
    h3{
        margin-bottom: 0px; 
        color: white;
    }
    hr{
        border-top: 1px solid white; 
        width: 100%; 
        display: inline-block; 
        margin-left: 0px;
    }
}

.cities_we_serve_items{
    h4{
        display: inline-block; 
        margin-left: 20px;
        a{
            color: white;
        }
    }
    hr{
        border-top: 1px solid white; 
        width: 100%; 
        display: inline-block; 
        margin-left: 0px;
    }
}