
.grid_images__grid_style{
    margin-left: 0px;
    display: flex;
}

.grid_images__grid_items_style{
    margin-right: 20px;
}

.grid_images__grid_top_item_style{
    img{
        margin-bottom: 20px;
    }
}