
// Our_Testimonials_title
@import 'Title/title.scss';

// Our_Testimonials_grid
@import 'Grid/grid.scss';

.our_testimonials_section_margin
{
    margin-top: 50px; 
    margin-bottom: 50px; 
    background-color: #092e44;
    padding-bottom: 50px;
}